@font-face{
  font-family: 'BebasNeueThin';
  src: url("Material/bebas_neue/BebasNeue Thin.otf") format("opentype");
}

@font-face{
  font-family: 'BebasNeueRegular';
  src: url("Material/bebas_neue/BebasNeue Regular.otf") format("opentype");
}

@font-face{
  font-family: 'BebasNeueBold';
  src: url("Material/bebas_neue/BebasNeue Bold.otf") format("opentype");
}

@font-face{
  font-family: 'BebasNeueLight';
  src: url("Material/bebas_neue/BebasNeue Light.otf") format("opentype");
}

* {box-sizing: border-box;}

body{
  background-image: url("Material/Bilder/nav_bg_notext_small.png");
  background-size:   100%;
  background-repeat: no-repeat;
  margin: 0px;
  font-family: 'BebasNeueRegular';
  width: 1vw;
  overflow-x: hidden;
}

.grid-container {
  height: 100vh;
    display: grid;
    grid-template-columns: 5.2vw 20.8vw 2.3vw 20.8vw 2.3vw 20.8vw 2.3vw 20.8vw 4.7vw;
  grid-template-rows: 3vh 2vh 3.1vh 9vh 41vh 5vh 3vh 20.5vh 3vh 3vh 7.4vh;
    grid-template-areas:
    '. ueberleben . . . . . . .'
    '. ueberleben . . . . . . .'
    '. ueberleben . navigation navigation navigation . navigationRechts .'
    '. . . . . . . . .'
    '. name . bild . text text text .'
    '. . . . . . . . .'
    '. . . . . . . . .'
    '. . . jahr jahr . . . .'
    '. . . . . . . . .'
    '. . . . . . . . .'
    '. . . . . . . . .'
}

.grid-container > div {
  text-align: left;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  font-size: 10px;
  text-align: center;
}

/*Personen-nav*/
nav {
  position: absolute;
  overflow: hidden;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 0px ;
  text-decoration: none;
  font-size: 33px;
}

nav a:hover {
  background-color:#375f79;
  color: white;
}

/*mini-Nav rechts*/
.sidenav a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 9px;
  text-decoration: none;
  font-size: 18px;
  
}
    
.sidenav a:hover {
  background-color:#375f79;
  color: white;
}


.navigation
{
  background-image: url("Material/Bilder/hintergrund-test.jpg");
}

.img{
  height: 30px;
  width: 30px;
}

#section2 {
  height: 100vh;
}

#ueberleben {
  text-align: left ;
  font-size: 52px;
  font-family: 'BebasNeueLight';
  grid-area: ueberleben;
  padding-top: 26px;
}
#ueberlebenUeberschrift{
  font-family: 'BebasNeueRegular'; 
}

#navigation{
  grid-area: navigation;
}

#navigationRechts{
  grid-area: navigationRechts;
}

#nameHintergrund{ 
  background-color: black;
  color: white;
  font-size: 52px;
}

.scrollButton {
  width: 3vw;
  height: 3vw;
  position: fixed;
  bottom: 5vh;
  right: 50vw;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
}

#text{
  margin-top: 90px; 
  grid-area: text;
  text-align: left;
  font-size: 25px;
  vertical-align: text-bottom; 

}

#downButton {
  display: none;
  background-color: green;
  /*TODO: Add background: url(down arrow);*/
}

#upButton {
  display: none;
  background-color: green; 
  /*TODO: Add background: url(up arrow);*/
}

#name{
  text-align: right;
  align-self: end;
}